body {
    background: #F5F5F5;
    color: #212121;
    font-family: Roboto,sans-serif;
}

.nav-item {
    color: #212121;
}

.site-nav :hover,
.site-nav :focus {
color: #2196F3;
}

.btn {
   cursor: pointer;
}

