:root {
    --primary-text-color:#212121;
    --paragraph-text-color:#757575;
    
}

body {
    background: #F5F5F5;
    color: var(--primary-text-color);
    font-family: Roboto,sans-serif;
}

.site-nav > a {
    color: var(--primary-text-color);
    letter-spacing: 0.02em;
    font-weight: 500;
}

.site-nav :hover,
.site-nav :focus {
color: #2196F3;
}
.nav-studio {
    position: absolute;
    width: 45px;
    height: 16px;
    left: 453px;
    top: 32px;
    font-size: 14px;
    line-height: 1.14;
    
}
.nav-portfolio {
    position: absolute;
    width: 72px;
    height: 16px;
    left: 548px;
    top: 32px;
    font-size: 14px;
    line-height: 1.14;
}
.nav-contacts {
    position: absolute;
    width: 64px;
    height: 16px;
    left: 670px;
    top: 32px;
    font-size: 14px;
    line-height: 1.14;

}

.btn {
    color: #FFFFFF;
    background: #2196F3;
   cursor: pointer;
}
.header-feedback > a {
    color: #757575;
    letter-spacing: 0.02em;
    font-weight: 500;
}
.header-feedback :hover,
.header-feedback :focus {
    color: #2196F3;
    letter-spacing: 0.02em;
}
.header-numb {
    position: absolute;
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;
    font-size: 14px;
    line-height: 1.14;
}
.header-mail {
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    font-size: 14px;
    line-height: 1.14;
}
.footer {
    background-color: #2F303A;
    letter-spacing: 0.03em;
}
.logo-footer {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 2554px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}
.footer-feedback > a {
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.03em;
}
.footer-feedback :hover,
.footer-feeedback :focus {
    color: #2196F3;
    letter-spacing: 0.03em;
}

.adress > .map {
    color: #FFFFFF;
}
.adress>.map:hover,
.adress>.map:focus {
    color: #2196F3
}

.logo {
    color: #2196F3;
    letter-spacing: 0.03em;
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.page-header {
    background-color: #FFFFFF;
}
.promo {
    background-color: #2F303A;
}
.promo-title {
    color: #FFFFFF;
}
.features {
   background-color: #F5F5F5;
}
.features-title {
    color: var(--primary-text-color)
}
.features-text {
    color: var(--paragraph-text-color);
}
.about  {
    background-color: #F5F5F5;
}
.team {
    background-color: #F5F4FA;
}

.team-people {
    background: #FFFFFF;
}
.team-title {
    color: var(--primary-text-color)
}
.team-text {
    color: var(--paragraph-text-color);
}
.portfolio-title {
    color: var(--primary-text-color)
}
.portfolio-text {
    color: var(--paragraph-text-color);
}
.btn-filters {
    background: #F5F4FA;
    color: #212121;
    cursor: pointer;
}
.btn-filters:hover,
.btn-filters:focus {
    background: #2196F3;
    color: #FFFFFF;
    cursor: pointer;
}