:root {
    --primary-text-color:#212121;
    --paragraph-text-color:#757575;
    
}

body {
    background: #F5F5F5;
    color: var(--primary-text-color);
    font-family: Roboto,sans-serif;
}

.nav-item {
    color: var(--primary-text-color);
}

.site-nav :hover,
.site-nav :focus {
color: #2196F3;
}

.btn {
    color: #FFFFFF;
    background: #2196F3;
   cursor: pointer;
}

.feedback > a {
    color: #757575;
}
.feedback :hover,
.feeedback :focus {
    color: #2196F3;
}

.adress > .map {
    color: #FFFFFF;
}
.adress>.map:hover,
.adress>.map:focus {
    color: #2196F3
}

.footer {
    background-color: #2F303A;
}
.logo {
    color: #2196F3;
}
.page-header {
    background-color: #FFFFFF;
}
.promo {
    background-color: #2F303A;
}
.promo-title {
    color: #FFFFFF;
}
.features {
   background-color: #F5F5F5;
}
.features-title {
    color: var(--primary-text-color)
}
.features-text {
    color: var(--paragraph-text-color);
}
.about  {
    background-color: #F5F5F5;
}
.team {
    background-color: #F5F4FA;
}

.team-people {
    background: #FFFFFF;
}
.team-title {
    color: var(--primary-text-color)
}
.team-text {
    color: var(--paragraph-text-color);
}
.portfolio-title {
    color: var(--primary-text-color)
}
.portfolio-text {
    color: var(--paragraph-text-color);
}
.btn-filters {
    background: #F5F4FA;
    color: #212121;
    cursor: pointer;
}
.btn-filters:hover,
.btn-filters:focus {
    background: #2196F3;
    color: #FFFFFF;
    cursor: pointer;
}